@model FamilyMemories.Models.FamilyMemberRelationshipsViewModel
@{
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<h1>Build Family Relationships for @Model.Self.FirstName @Model.Self.LastName</h1>
<hr/>
<div class="row">
    <div class="col-mt-3">
        <form asp-action="Build" enctype="multipart/form-data">
            
            <br />
            
            <div class="col-mt-3t">
                <label asp-for="Spouse">Select @Model.Self.FirstName's Spouse</label>
                <select class="selectpicker" multiple data-live-search="true"
                        class="js-multiple-select form-control"
                        multiple="multiple"
                        asp-for="Spouse"
                        asp-items="@Model.Options"
                        data-placeholder="Select All People in the Picture">
                </select>
            </div>
            <br />
            <div class="col-mt-3t">
                <label asp-for="Father">Select @Model.Self.FirstName's Father</label>
                <select class="selectpicker" multiple data-live-search="true"
                        class="js-multiple-select form-control"
                        multiple="multiple"
                        asp-for="Father"
                        asp-items="@Model.Options"
                        data-placeholder="Select All People in the Picture">
                </select>
            </div>
            <br />
            <div class="col-mt-3t">
                <label asp-for="Mother">Select @Model.Self.FirstName's Mother</label>
                <select class="selectpicker" multiple data-live-search="true"
                        class="js-multiple-select form-control"
                        multiple="multiple"
                        asp-for="Mother"
                        asp-items="@Model.Options"
                        data-placeholder="Select All People in the Picture">
                </select>
            </div>
            <br />
            <div class="col-mt-3t">
                <label asp-for="Siblings">Select @Model.Self.FirstName's Siblings</label>
                <select class="selectpicker" multiple data-live-search="true"
                        class="js-multiple-select form-control"
                        multiple="multiple"
                        asp-for="Siblings"
                        asp-items="@Model.Options"
                        data-placeholder="Select All People in the Picture">
                </select>
            </div>
            <br />
            <div class="col-mt-3t">
                <label asp-for="Children">Select @Model.Self.FirstName's Children</label>
                <select class="selectpicker" multiple data-live-search="true"
                        class="js-multiple-select form-control"
                        multiple="multiple"
                        asp-for="Children"
                        asp-items="@Model.Options"
                        data-placeholder="Select All People in the Picture">
                </select>
            </div>

            
            <br />
            <br />
            <button type="submit" class="btn btn-primary" id="upload-btn">Save Relationships</button>
            <input asp-for="SpouseId" type="hidden" />
            <input asp-for="FatherId" type="hidden" />
            <input asp-for="MotherId" type="hidden" />
            <input asp-for="SiblingIds" type="hidden" />
            <input asp-for="ChildrenIds" type="hidden" />

        </form>
    </div>
</div>

<script src="~/js/site.js"></script>
